.paging {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: rows;
    justify-content: center;
}

.paging-number {
   display: flex;
   width: 100%;
   justify-content: center;
}

.paging-number li {
    margin: 10px;
    font-size: 0.9rem;
}

.paging-number li a{
    color: #999;
}
